{% extends "base_generic.html" %}

 {% block content %}
 {% if perms.poblacion.delete_poblacion %}
<form method="post" align="center">
            <div align="center">


            {% csrf_token %}
                <h3>¿Desea eliminar el siguiente correo de la poblacion? {{Poblacion.correo}}</h3>


                </div>
               <button  class="btn btn-danger" type="submit"  >Si, Eliminar</button>
                <a class="btn btn-default" href="/inicio/musculoEsqueletico/enfermedadesME">cancelar</a>



        </form>
{% else %}
no tiene permisos para ver esta pagina
{%endif%}
{% endblock %}