{% extends "base_generic.html" %}

 {% block content %}
 {% if perms.enfermedad.delete_enfermedad %}

<form method="post" align="center">
            <div align="center">


            {% csrf_token %}
                <h3>¿Desea eliminar la siguiente enfermedad? {{posibleEnfermedad.nombre}}</h3>


                </div>
               <button  class="btn btn-danger" type="submit"  >Si, Eliminar</button>
                <a class="btn btn-default" href="/inicio/administrarSVE/poblacionSVE/lista">cancelar</a>



        </form>
{%endif%}
   {% endblock %}