{% extends "base_generic.html" %}

 {% block content %}

 </body>

        <body>
        <h1 align="center">Riesgo Musculo-Esquelético</h1>

        <div id="listageneral">
        <ul class="cards-list">
           <li class="ci-4 cards-item">
             <div class="card">
              <a href="/inicio/musculoEsqueletico/enfermedadesME" class="card-container" rel="keep-params">
                    <div class="card-icon card-icon-5">
                        <i class="icono fas fa-procedures"></i>
                    </div>
                    <div class="card-title-container">
                        <h3 class="card-title">Lista de enfermedades</h3>
                    </div>
              </a>
             </div>
           </li>
           <li class="ci-4 cards-item">
             <div class="card">
                <a href="/inicio/musculoEsqueletico/testME/iniciarTestMEPiloto" class="card-container" rel="keep-params">
                    <div class="card-icon card-icon-7">
                        <i class="icono fas fa-file-alt"></i>
                    </div>
                    <div class="card-title-container">
                        <h3 class="card-title">Realizar test</h3>
                    </div>
                </a>
             </div>
           </li>
        </ul>
    </div>


        </body>
    {% endblock %}







