{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta>
    <script src="{% static 'js/registroTrabajador.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title> {% block title %}Base{% endblock%} </title>

</head>
<body>
    {% block header %}

        <header>

            <img src="{%static 'imagenes/logouq.png' %}" alt="error">


        </header>


    {% endblock %}
{% block nav %}
  <nav>

                    <ul class="barraNav">
                     <li> <a href="/inicio">Inicio</a></li>
                     <li> <a href="/inicio/administrarSVE">Administrar</a></li>

                      <li class="Riesgo">
                        <a href="javascript:void(0)" class="dropbtn">Riesgo</a>

                        <div class="Riesgo-content">
                            <a href="/inicio/musculoEsqueletico" >Riesgos Musculo-Esqueletico</a>
                            <a href="#">Riesgos Químicos</a>
                            <a href="#">Riesgos Biológicos</a>
                        </div>
                      </li>


                      <li><a href="/inicio/notificaciones"><div valign="top">Notificaciones <svg height="20" width="20" style="position:absolute; z-index:1;">
                                <circle cx="5" cy="5" r="3" stroke="red" stroke-width="3" fill="red" />
                        </svg></div></a></li>


                     <li style="float:right"><a class="active" href="{% url 'logout'%}"> Salir </a></li>
                 </ul>



            </nav>
{% endblock %}


    {% block content %}
        <body>


        </body>
    {% endblock %}

    {% block footer %}
            <img src="{%static 'imagenes/barraUniquindio.jpg' %}" width="100%" height="10" alt="error">

    <div class="footer">
        <div class="row">
              <div class="column" align="center"> <img  src="{%static 'imagenes/logouq.png' %}"></div>
              <div class="column">
                  <p class="footerTexto">
                  <table>
                  <tr>
                      <td>
                      <i class="icono fas fa-map-marker-alt"></i>
                      </td>
                      <td>
                        Carrera 15 Calle 12 Norte
                        Armenia, Quindío, Colombia
                      </td>
                  </tr>
                  <tr>
                      <td>
                       <i class="icono fas fa-phone"></i>
                      </td>
                      <td>
                          Tel.: +57 (6) 7359300
                      </td>
                  </tr>
                    <tr>
                        <td>
                          <i class="icono fas fa-phone"></i>
                        </td>
                        <td>
                           <a href="http://intraweb.uniquindio.edu.co/index.php?option=com_formasonline&formasonlineform=FormaLogin" class="enlaceFooter"> Quejas y Reclamos:</a> 018000 96 35 78 opción 3.
                    Denuncias actos de corrupción: 018000 96 35 78 opción 4.

                        </td>
                    </tr>
                     <tr>
                         <td>
                             <i class="icono fas fa-at"></i>
                         </td>
                         <td>
                             <a href="mailto:corrupcioncero@uniquindio.edu.co" class="enlaceFooter">corrupcioncero@uniquindio.edu.co</a>
                             <a href="mailto:wbmaster@uniquindio.edu.co" class="enlaceFooter"> wbmaster@uniquindio.edu.co </a>
                             <a href="mailto:csu@uniquindio.edu.co" class="enlaceFooter"> csu@uniquindio.edu.co</a>
                         </td>
                     </tr>
                  </table>
                </p>
              </div>
              <div class="column">
                     <p style="color: white;">
                         <a class="enlaceFooter" href="http://www.gobiernoenlinea.gov.co/">Gobierno en línea </a><br>
                       <a class="enlaceFooter" href="https://www.uniquindio.edu.co/#"> Entes de control </a><br>
                         <a class="enlaceFooter" href="http://www.icfes.gov.co/">  Icfes </a> <br>
                         <a class="enlaceFooter" href="http://www.mineducacion.gov.co/">  Ministerio de Educación Nacional </a><br>
                         <a class="enlaceFooter" href="http://www.renata.edu.co/">  Renata </a> <br>
                         <a class="enlaceFooter" href="http://www.utp.edu.co/radar/">  Radar </a> <br>
                         <a class="enlaceFooter" href="http://www.universia.net.co/">  Universia </a> <br>
                         <a class="enlaceFooter" href="https://www.uniquindio.edu.co/glosario.php">  Glosario </a> <br>
                         <a class="enlaceFooter" href="http://www.uniquindio.edu.co/publicaciones/contratacion_y_juridica_1_pub">  Contratación </a> <br></p>
              </div>




        </div>
        </div>
    {% endblock %}


</body>
</html>