{% extends "base_generic.html" %}

 {% block content %}
 {% if perms.poblacion.add_poblacion %}

<form method="post" align="center">
            <div align="center">


            {% csrf_token %}
                <h3>¿Desea eliminar la siguiente recomendación? {{sabiasQue.nombre}}</h3>


                </div>
               <button  class="btn btn-danger" type="submit"  >Si, Eliminar</button>
               



        </form>
{% else %}
no tiene permisos para ver esta pagina
{%endif%}
   {% endblock %}