{% extends "base_generic.html" %}

{% block content %}
<body>
<div align="center" id="quienesSomos">
        <div align="center">
            <img id="bannerImage" src="https://virel.unad.edu.co/images/VIREL/Movilidad_Internacional/equipo_temel1.png" height="30%" width="30%">
      </div>
        <h1>¿Quiénes somos?</h1>
         <div  align="center">
              <p align="justify" id="textoQuienesSomos">Hay 100 formas de darnos a saber, y de relatar la historia de nuestro negocio de forma que cautive la atención de nuestros usuarios y clientes potenciales.
                  Todos somos personas. No lo hagas de forma robótica, como quien escribe una biografía en la Wikipedia o un currículum vitae, sino aporta algo más que simplemente datos,
                  datos, y más datos. Aporta sentimiento, autenticidad y, en definitiva, ¡conecta con el lector! Aprovecha para mostrar el lado más humano de tu empresa, desmitifícate y enseña lo que hay detrás de la imagen del logo:
                  tu equipo, tus valores,  Utiliza un lenguaje natural, sin dejarte llevar por vocablos vacíos, y cuenta las cosas como son, sin «adornarlas» demasiado. Al final, lo que el cliente
        <br></br><br></br>
         </div>
    </div>


    <div class="col-md-4 col-sm-8 col-xs-16" align="center" id="tituloSVE">
        <img id="bannerImage2" src="https://virel.unad.edu.co/images/VIREL/Movilidad_Internacional/equipo_temel1.png" height="50%" width="50%">
        <h2>¿Qué es el SVE?</h2>
        <div  align="center">
        <p align="justify" id="queEsSVE">Hay 100 formas de darnos a conocer, y de relatar la historia de nuestro negocio de forma que cautive la atención de nuestros usuarios y clientes potenciales.
                  Todos somos personas. No lo hagas de manera continua, como quien escribe una biografía en la Wikipedia o un currículum vitae, sino aporta algo más que simplemente datos,
                  datos, y más datos. Aporta sentimiento, autenticidad y, en definitiva, ¡conecta con el lector! Aprovecha para mostrar el lado más humano de tu empresa, desmitifícate y enseña lo que hay detrás de la imagen del logo:
                  tu equipo, tus valores, filosofía, aspiraciones, motivaciones… Utiliza un lenguaje natural, sin dejarte llevar por vocablos vacíos, y cuenta las cosas como son, sin «adornarlas» demasiado. Al final, lo que el cliente
                  quiere saber no es lo que sabes hacer tan bien (eso ya es evidente), sino el motivo que te lleva a realizar esta labor todos los días, de qué modo puedes ayudarles con su necesidad y por qué tu empresa es la idónea para hacerlo.</p>

        </div>
    </div>



    <div class="col-md-4 col-sm-8 col-xs-16" align="center" id="objetivo">
         <img id="bannerImage3" src="https://virel.unad.edu.co/images/VIREL/Movilidad_Internacional/equipo_temel1.png" height="50%" width="50%">
        <h2>Objeivo</h2>
        <div  align="center">
        <p align="justify" id="objetivoSVE">Hay mil formas de darnos a conocer, y de relatar la historia de nuestro negocio de forma que cautive la atención de nuestros usuarios y clientes potenciales.
                  Todos somos personas. No lo hagas de manera robótica, como quien escribe una biografía en la Wikipedia o un currículum vitae, sino aporta algo más que simplemente datos,
                  datos, y más datos. Aporta sentimiento, autenticidad y, en definitiva, ¡conecta con el lector! Aprovecha para mostrar el lado más humano de tu empresa, desmitifícate y enseña lo que hay detrás de la imagen del logo:
                  tu equipo, tus valores, filosofía, aspiraciones, motivaciones… Utiliza un lenguaje natural, sin dejarte llevar por vocablos vacíos, y cuenta las cosas como son, sin «adornarlas» demasiado. Al final, lo que el cliente
                  quiere saber no es lo que sabes hacer tan bien (eso ya es evidente), sino el motivo que te lleva a realizar esta labor todos los días, de qué modo puedes ayudarles con su necesidad y por qué tu empresa es la idónea para hacerlo.</p>

        </div>
    </div>

    <div class="col-md-4 col-sm-8 col-xs-16" align="center" id="justificacion">
         <img id="bannerImage4" src="https://virel.unad.edu.co/images/VIREL/Movilidad_Internacional/equipo_temel1.png" height="50%" width="50%">
        <h2>Justificación</h2>
        <div  align="center">
        <p align="justify" id="justificacionSVE">Hay mil formas de darnos a conocer, y de relatar la historia de nuestro negocio de forma que cautive la atención de nuestros usuarios y clientes potenciales.
                  Todos somos personas. No lo hagas de manera robótica, como quien escribe una biografía en la Wikipedia o un currículum vitae, sino aporta algo más que simplemente datos,
                  datos, y más datos. Aporta sentimiento, autenticidad y, en definitiva, ¡conecta con el lector! Aprovecha para mostrar el lado más humano de tu empresa, desmitifícate y enseña lo que hay detrás de la imagen del logo:
                  tu equipo, tus valores, filosofía, aspiraciones, motivaciones… Utiliza un lenguaje natural, sin dejarte llevar por vocablos vacíos, y cuenta las cosas como son, sin «adornarlas» demasiado. Al final, lo que el cliente
                  quiere saber no es lo que sabes hacer tan bien (eso ya es evidente), sino el motivo que te lleva a realizar esta labor todos los días, de qué modo puedes ayudarles con su necesidad y por qué tu empresa es la idónea para hacerlo.</p>

        </div>
    </div>
    </body>
{% endblock %}