{% extends "base_generic.html" %}

  {% block title %} Notificaciones {% endblock%}
 
{% block content %}
{% if perms.poblacion.add_poblacion %}


<h1 align="center">
        Lista de Tests
    </h1>
<table align="center" border="1">
    {%if perfilDemograficos%}
<thead>
        <tr>
            <td align="center">Riesgo</td>
             <td align="center">Cédula</td>
             <td align="center">Nombre</td>
             <td align="center">Apellido</td>
             <td align="center">Dependencia</td>
             <td align="center">Cargo</td>
             <td align="center">Diagnóstico</td>
             <td align="center">Fecha de realización</td>
             
            
        </tr>

    </thead>
    {%endif%}
    <tbody>

    {% if perfilDemograficos %}
  
    {% for perfilDemografico in perfilDemograficos %}
        <tr>
            <td>&nbsp; {{perfilDemografico.test0.idRiesgo.nombre}} &nbsp;</td>
            <td>&nbsp; {{perfilDemografico.cedula0}} &nbsp;</td>
            <td>&nbsp; {{perfilDemografico.nombre0}} &nbsp;</td>
            <td>&nbsp; {{perfilDemografico.apellido0}} &nbsp;</td>
            <td>&nbsp; {{perfilDemografico.dependencia0.nombre}} &nbsp;</td>
            <td>&nbsp; {{perfilDemografico.cargo0.nombre}} &nbsp;</td>
            <td>&nbsp; {{perfilDemografico.test0.diagnostico}} &nbsp;</td>
            <td>&nbsp; {{perfilDemografico.test0.fecha}} &nbsp;</td>
            

        </tr>


    {% endfor %}

    {% else %}

    <h1 align="center">
        No se han realizado tests.
    </h1>
    
    {% endif %}
    </tbody>
</table>
<br>
<div align="center">
        <a href="/inicio/administrarSVE" class="enlace">Volver</a> &nbsp;

</div>
<br>
{% else %}
<h1 align="center">No tiene permisos para ver esta página.</h1>

{%endif%}
    {% endblock %}
